.saveButton {
    width: 200px;
}

.btnPrimary {
    color: rgb(0, 153, 204);
    border-color: rgb(0, 153, 204);
}

.btnPrimary:hover {
    color: #fff;
    background-color: rgb(0, 153, 204);
    border-color: rgb(0, 153, 204);
}

.btnPrimary:focus, .btnPrimary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btnPrimary.disabled, .btnPrimary:disabled {
    color: rgb(0, 153, 204);
    background-color: transparent;
}

.btnPrimary:not(:disabled):not(.disabled):active, .btnPrimary:not(:disabled):not(.disabled).active,
.show > .btnPrimary.dropdown-toggle {
    color: #fff;
    background-color: rgb(0, 153, 204);
    border-color: rgb(0, 153, 204);
}

.btnPrimary:not(:disabled):not(.disabled):active:focus, .btnPrimary:not(:disabled):not(.disabled).active:focus,
.show > .btnPrimary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btnWarning {
    color: white;
    background-color: rgb(0, 153, 204);
    border-color: rgb(0, 153, 204);
}

.btnWarning:hover {
    color: yellow;
    background-color: rgb(0, 153, 204);
    border-color: #d39e00;
}

.btnWarning:focus, .btnWarning.focus {
    color: white;
    background-color: rgb(0, 153, 204);
    border-color: #d39e00;
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btnWarning.disabled, .btnWarning:disabled {
    color: white;
    background-color: rgb(0, 153, 204);
    border-color: rgb(0, 153, 204);
}

.btnWarning:not(:disabled):not(.disabled):active, .btnWarning:not(:disabled):not(.disabled).active,
.show > .btnWarning.dropdown-toggle {
    color: white;
    background-color: rgb(0, 153, 204);
    border-color: #c69500;
}

.btnWarning:not(:disabled):not(.disabled):active:focus, .btnWarning:not(:disabled):not(.disabled).active:focus,
.show > .btnWarning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}